<div class="row">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">{{object.prod_name}}</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">{{object.price}}</h1>
                        <p class="lead">{{object.description|truncatechars:100}}</p>
                        <a class="p-2 btn btn-outline-primary" href="{% url 'product' object.pk %}">Купить</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>